.venv/
.wsl_venv/
__pycache__/
*.db
build/
*.pyc
*.log
pyarmor.bug.log
calendar.json
photos.json
solar.json
deleted_photos.json
solar_token.txt
*.recovered
*.temp
*.backup
deploy.tar
static/media/child_photos/*
!static/media/child_photos/.gitkeep
static/media/manual_uploads/*
!static/media/manual_uploads/.gitkeep
static/media/submissions/*
!static/media/submissions/.gitkeep
photos/*
!photos/.gitkeep
