# Ignore everything by default to keep source code local-only
*

# Allow this .gitignore file and the root README.md
!.gitignore
!README.md

# Allow only the Windows and Linux binaries
!V3/
!V3/dist/
!V3/dist/FamilyCommandCenter.exe
!V3/dist/FamilyCommandCenter
